/* Navbar container */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
    cursor: pointer;
    border-radius: 4px;


}

li {
    float: left;
}

li a, .dropdown {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
}

li a:hover, .dropdown:hover .dropdown {
    background-color: #666666;
    color: black;

}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #666666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #666666;
    
}

.dropdown-content a:hover {

    background-color:#666666;
     }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #cccccc;
    color:black;

}

.dropdown:hover{
    color: black;
}



header{

    font-family: Brush Script MT;
    font-size: 190px;
    text-align: center;
    letter-spacing: 30px;
    text-shadow: 8px 5px #cccccc;
    padding-bottom: 30px;
    padding-top: 20px;
    cursor: default;
    background-color: #f2f2f2
}

body{
    background-color: #f2f2f2;
    margin: auto;
    border: solid;
    border-color: white;
    border-width: 8px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: helvetica;
    letter-spacing: 2px;
}


 .draw{
  width: 1470px;
  height: 450px;
  border-style: solid;
  border-color: white;
  border-width:5px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 8px;
  }



  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    letter-spacing: 10px;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: helvetica;
    font-size: 14px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    background-color: #0d260d;
}

input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

input[type=reset]:hover {
    background-color: #0d260d;
}

label{
  font-family: helvetica;
}

